<h2 mat-dialog-title>Category {{modifier}}</h2>


<mat-dialog-content>
  <form [formGroup]="checkoutForm" (ngSubmit)="saveCategory(checkoutForm.value)">
    <input formControlName="id" id="id" type="hidden">
    <div>

      <mat-form-field>
        <mat-label for="code"> Code</mat-label>
        <input formControlName="code" id="code" matInput placeholder="Category code" type="text">
      </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label for="name"> Naam</mat-label>
      <input formControlName="name" id="name" matInput placeholder="Category naam" type="text">
    </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions id="actions">

  <div class="align-right">
    <button class="action-button" (click)="saveCategory(checkoutForm.value)" mat-button>Opslaan</button>
    <button mat-button (click)="close()">Annuleren</button>
  </div>
</mat-dialog-actions>
