<div class="container" *ngIf="loaded">

  <div class="bar">
    <h1>Category</h1>
  </div>

  <div class="data-row">
    <div class="row-name">Code:</div>
    <div class="user-data">{{category.code}}</div>
  </div>

  <div class="data-row">
    <div class="row-name">Naam:</div>
    <div class="user-data">{{category.name}}</div>
  </div>


  <div class="row">
    <a *ngIf="isAdmin" (click)="edit()" mat-button class="override-button action-button" id="editCategory">Category wijzigen</a>
    <a *ngIf="isAdmin" (click)="delete()" mat-button class="override-button" id="deleteCategory">Category verwijderen</a>
  </div>
</div>
