.mat-form-field {
  width: 75%;
}

.action-button {
  background-color: #DDFCE0;
}

.align-right {
  margin-left: auto;
}

.mat-button {
  font: normal normal normal 17px/17px Segoe UI;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid gray;
}
textarea{
  height: 100px;
}
#actions{
  margin-top: 35px;
}

#instruction{
  display:flex;
}
#uploadButton{
  margin-left: 25px;
}

