<div class="tasks">
  <h1>Taken</h1>
  <div class="tasks-container">
    <table mat-table [dataSource]="tasks">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Naam</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Kleur</th>
        <td mat-cell *matCellDef="let element">{{ element.color }}</td>
      </ng-container>

      <ng-container matColumnDef="documentUri">
        <th mat-header-cell *matHeaderCellDef>Document</th>
        <td mat-cell *matCellDef="let element">
          {{ element.documentUri }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns"></tr>
    </table>
  </div>
</div>
