<div class="row bar">
  <h1>Beschikbaarheid opgeven</h1>
</div>
<div class="row">

  <div class="col-4">

    <div class="calendar">

      <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="dateChanged()" [minDate]="minDate"
                      [maxDate]="maxDate">
        </mat-calendar>
      </div>
      <div class="row tasktoggle">
        <mat-checkbox class="checkBox" id="item.id" (change)="OnCheckboxChange($event)" checked="true">task.name</mat-checkbox>
        <mat-checkbox class="checkBox" (change)="OnCheckboxChange($event)" checked="true">task.name</mat-checkbox>
        <mat-checkbox class="checkBox" (change)="OnCheckboxChange($event)" checked="true">task.name</mat-checkbox>
        <mat-checkbox class="checkBox"  (change)="OnCheckboxChange($event)" checked="true">task.name</mat-checkbox>
      </div>

    </div>

  </div>
  <div class="col-8">
    <div class="row datebox">


      <button mat-icon-button class="changeday cdhidden" (click)="decrement()">
        <mat-icon>navigate_before</mat-icon>
      </button>

      <div class="date" id="date"> {{viewDate | datePipe}}</div>

      <button mat-icon-button class="changeday cdhidden" (click)="increment()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>


    <div class="calendarbox">

      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [dayStartHour]="startHour"
        [dayEndHour]="endHour"
        [events]="events"
        [refresh]="refresh"

      >

      </mwl-calendar-day-view>
    </div>


  </div>
</div>


