<div class="row bar">
  <h1>Beschikbaarheid opgeven</h1>
</div>
<div class="instruction">
  Goed dat je deelneemt aan dit project! Je kunt hier je beschikbaarheid voor elke shift op elke dag doorgeven. Zet een
  sterretje bij shifts die je erg leuk lijken!
</div>
<div class="row content-container">
  <div class="col-4">
    <div class="calendar">
      <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="dateChanged()"
                      >
          <!--todo [minDate]="minDate"
                      [maxDate]="maxDate"-->
        </mat-calendar>
      </div>
      <div class="row tasks-container">
        <div class="tasktoggle" *ngFor="let item of availabilityData.projectTasks">
          <ng-template #popContent>{{item.description}}<br> <a href="task/{{item.id}}"
                                                               style="text-decoration: underline; color: blue">details</a>
          </ng-template>
          <mat-checkbox class="checkBox" id="{{item.id}}" (change)="OnCheckboxChange($event)"
                        checked="true" color="primary" [disabled]="activeProjectTasks|checkboxFilter: item.id"
          >{{item.name}} </mat-checkbox>
          <span class="push" [ngbPopover]="popContent" [autoClose]="'inside'">
<!--            <fa-icon class="checkbox-icon" [icon]="questionCircleIcon"></fa-icon>-->
          </span>
        </div>
      </div>
      <div class="row legend">
        <div class="row legend-item">

          <div class="mat-calendar-body-cell-content legend-button" style="background: gray">
<!--            <fa-icon class="legend-icon" [icon]="questionIcon"></fa-icon>-->
          </div>
          Geef je beschikbaarheid door
        </div>

        <div class="row legend-item">
          <div class="mat-calendar-body-cell-content legend-button" style="background: red">
<!--            <fa-icon class="legend-icon" [icon]="unavailableIcon"></fa-icon>-->
          </div>
          Onbeschikbaar voor shift(s)
        </div>

        <div class="row legend-item">
          <div class="mat-calendar-body-cell-content legend-button" style="background: green">
<!--            <fa-icon class="legend-icon" [icon]="availableIcon"></fa-icon>-->
          </div>
          Beschikbaar voor shift(s)
        </div>

        <div class="row legend-item">
          <div class="mat-calendar-body-cell-content legend-button" style="background: blue">
<!--            <fa-icon class="legend-icon" [icon]="scheduledIcon"></fa-icon>-->
          </div>
          Ingeroosterd voor shift(s)
        </div>
      </div>
    </div>
  </div>


  <div class="col-8">
    <div class="row datebox">
      <button mat-button class="accept btnhidden schedule-button" matTooltip="Je bent de hele dag beschikbaar"
              [disabled]="apiCall"
              (click)="acceptDay()">
<!--        <fa-icon [icon]="checkIcon"></fa-icon>-->
        Dag beschikbaar
      </button>
      <div class="date-title">
        <button mat-icon-button class="changeday cdhidden" (click)="decrement()" [disabled]="prevBtnDisabled">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <div class="date" id="date"> {{viewDate | datePipe}}</div>
        <button mat-icon-button class="changeday cdhidden" (click)="increment()" [disabled]="nextBtnDisabled">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <button mat-button class="refuse btnhidden schedule-button" matTooltip="Je bent de hele dag onbeschikbaar"
              [disabled]="apiCall" (click)="refuseDay()">
<!--        <fa-icon [icon]="crossIcon"></fa-icon>-->
        Dag onbeschikbaar
      </button>
    </div>
    <div class="row rowhidden">
      <button mat-button class="accept schedule-button" (click)="acceptDay()">
<!--        <fa-icon [icon]="checkIcon"></fa-icon>-->
        Dag beschikbaar
      </button>
      <button mat-button class="refuse schedule-button" (click)="refuseDay()">
<!--        <fa-icon [icon]="crossIcon"></fa-icon>-->
        Dag onbeschikbaar
      </button>
    </div>
    <ng-template
      #customEventTemplate
      let-weekEvent="weekEvent">
      <ng-template #eventTooltip>
        <h5>{{weekEvent.event.title}}</h5>
        {{availabilityData.projectTasks|calendarTooltip:weekEvent.event.title}}
        <br> <a href="task/{{availabilityData.projectTasks|calendarTaskLink:weekEvent.event.title}}"
                style="text-decoration: underline; color: blue">details</a>
      </ng-template>
      <div
        class="cal-event"
        [ngStyle]="{backgroundColor: weekEvent.event.color?.secondary,borderColor: weekEvent.event.color?.primary}"
        [ngbPopover]="eventTooltip" triggers="mouseenter:mouseleave" container="body"
        [closeDelay]="1250" [openDelay]="500"
        [attr.aria-label]="{ event: weekEvent.tempEvent || weekEvent.event, locale: 'en' }| calendarA11y: 'eventDescription'">
        <div class="flex-container">

          <div class="row flex-container title" [id]="'title-'+weekEvent.event.id">
            <button mat-icon-button class="star" [id]="weekEvent.event.id" (click)="changePreference(weekEvent.event)">
              <mat-icon>star_border</mat-icon>
            </button>
            <div class="cal-event-title">{{weekEvent.event.title}}</div>
          </div>

          <div class="row" id="spacer">
            <button mat-fab color="primary" class="scheduledBtn" [id]="'scheduledBtn'+weekEvent.event.id" hidden
                    (click)="openInstructions(weekEvent.event.id)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </div>

          <div class="row" id="actions-{{weekEvent.event.id}}">
            <button mat-icon-button aria-label="Yes" class="option-button" style="color: green;"
                    (click)="handleEvent('Yes',weekEvent.event)">
              <mat-icon>check</mat-icon>
            </button>

            <button mat-icon-button aria-label="No" class="option-button" style="color: red;"
                    (click)="handleEvent('No',weekEvent.event)">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </ng-template>
    <div class="calendarbox"
         >
      <!--todo [ngStyle]="numberOfOverlappingShifts>2&&{'min-width':(numberOfOverlappingShifts-2)*75+300+'px'}"-->
      <mwl-calendar-day-view #schedule
                             [viewDate]="viewDate"
                             [dayStartHour]="startHour"
                             [dayEndHour]="endHour"
                             [events]="filteredEvents"
                             [refresh]="refresh"
                             [eventTemplate]="customEventTemplate"
                             [hourSegmentHeight]="15">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
