<div *ngIf="loaded" class="container">
  <h2 mat-dialog-title>Administrator {{title}}</h2>

  <div class="search">
    <p>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (ngModelChange)="resetPage()" autocomplete="off" placeholder="Zoek gebruiker">
    </p>
  </div>

  <mat-dialog-content id="content">
<span *ngFor="let user of users| userFilter: searchText | slice: (currentPage-1)*pageSize:(currentPage-1)*pageSize+pageSize">
  <p><a (click)="modAdmin(user.id)" mat-dialog-close="{{user.firstName}}">{{user.firstName}} {{user.lastName}} </a></p>
</span>
  </mat-dialog-content>

  <mat-dialog-actions id="actions-bar">
    <div class="align-buttons">
      <button mat-raised-button (click)="prevPage()"><</button>
      <button mat-raised-button (click)="nextPage()">></button>
    </div>
    <div class="align-right">
      <button mat-button (click)="close()">Annuleren</button>
    </div>
  </mat-dialog-actions>
</div>
