a {
  display: flex;
}

.mat-mdc-form-field {
  width: 100%;
}

.closebutton {
  margin-left: auto;
}

.names {
  min-height: 225px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-tab-body-wrapper {
  margin-top: 10px;
}

::ng-deep .mat-mdc-tab-body {
  min-height: 300px;
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-body-content {
    overflow: hidden;
  }
}

.pageButtons {
  display: flex;
  justify-content: center;
}

.action-row {
  display: block;
  margin: 0;
}

.actions {
  margin-left: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  .mat-mdc-button {
    font-size: 12px !important;
    padding: 0;
  }
  .closebutton {
    margin-left: inherit;
  }
}

@media only screen and (max-width: 550px) {
  p {
    font-size: 12px;
  }
}
