<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content>
  <form (ngSubmit)="saveProfile(checkoutForm.value)" [formGroup]="checkoutForm">
    <input formControlName="id" id="id" type="hidden">
    <div>
      <mat-form-field>
        <mat-label for="firstName">
          Voornaam
        </mat-label>
        <input formControlName="firstName" id="firstName" matInput placeholder="{{user.firstName}}" type="text"
               required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="lastName">
          Achternaam
        </mat-label>
        <input formControlName="lastName" id="lastName" matInput placeholder="{{user.lastName}}" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="dateOfBirth">
          Geboortedatum
        </mat-label>
        <input formControlName="dateOfBirth" id="dateOfBirth" matInput placeholder="dd-mm-yyyy" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="streetAddress">
          Adres
        </mat-label>
        <input formControlName="streetAddress" id="streetAddress" matInput placeholder="{{user.streetAddress}}"
               type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="postalCode">
          Postcode
        </mat-label>
        <input formControlName="postalCode" id="postalCode" matInput placeholder="1234AA" type="text" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label for="city">
          Stad
        </mat-label>
        <input formControlName="city" id="city" matInput placeholder="{{user.city}}" type="text" required>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="phoneNumber">
          Telefoonnummer
        </mat-label>
        <input formControlName="phoneNumber" id="phoneNumber" matInput placeholder="0612345678"
               type="text" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label for="nationality">
          Nationaliteit
        </mat-label>
        <mat-select [formControl]="nationalityControl" required>
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
            {{nationality}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label for="nativeLanguage">
          Moedertaal
        </mat-label>
        <input formControlName="nativeLanguage" id="nativeLanguage" matInput placeholder="Bijv. Nederlands of Spaans"
               type="text" required>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <mat-label for="dutchProficiency">
          Nederlands taalniveau
        </mat-label>
        <mat-select [formControl]="languagueControl" required>
          <mat-option *ngFor="let item of level" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <input formControlName="termsOfUseConsented" id="termsOfUseConsented" type="hidden">
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="align-right">
    <button class="action-button override-button" (click)="saveProfile(checkoutForm.value)"
            [disabled]="!checkoutForm.valid">Opslaan
    </button>
    <button mat-button class="override-button" (click)="close()">Annuleren</button>
  </div>
</mat-dialog-actions>
