<div class="home">
  <div class="bar">
    <h1>
      <fa-icon [icon]="homeIcon"></fa-icon>
      Dashboard
    </h1>
    <button mat-button id="push" (click)="addParticipation()">
      <fa-icon [icon]="circleIcon"></fa-icon>
      Aanmelden bij project
    </button>
  </div>
  <div class="instruction">
    Welkom op jouw dashboard! Vanaf deze pagina zie je een overzicht van jouw projecten. Je kunt je rechtsboven
    aanmelden voor een nieuw project.
  </div>
  <span *ngIf="participations.length > 0">
    <div class="cardholder">
      <span *ngFor="let item of participations" class="mobilecard">
        <app-project-card [participation]="item"></app-project-card>
      </span>
    </div>
  </span>

  <div class="spinner" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="participations.length === 0 && loaded">
    <div>
      <div class="row"><p id="flavortext">Nog niet aangemeld bij een project</p></div>
      <div class="row"><a mat-button id="big-button" (click)="addParticipation()">Aanmelden</a></div>
    </div>
  </div>

  <div class="row" style="margin-top: auto">
    <mat-toolbar color="primary" id="footer">
      <a href="https://www.facebook.com/TearfundNL/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/Tearfund"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tearfundnl/"><i class="fab fa-instagram"></i></a>
      <a class="toolbarbutton footerbutton" routerLink="/privacy" routerLinkActive="active">Privacy policy</a>
      <a class="toolbarbutton footerbutton" href="https://www.tearfund.nl/wie-wij-zijn/organisatie/contact">Contact</a>
    </mat-toolbar>
  </div>
</div>
