.container {
  min-height: 65vh;
}

.mat-mdc-button{
  height: inherit;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobilecard {
  margin-bottom: 0;
}

#flavortext {
  text-align: left;
  font: normal normal normal 18px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  padding: 10px;
  width: fit-content;
  margin: 25vh auto auto;
}

#big-button {
  text-align: left;
  font: normal normal bold 53px/70px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  margin: auto;
  width: fit-content;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 30px;
}

#footer {
  background: none;
  height: 27px;
  align-items: center;
  justify-content: center;


  .toolbarbutton {
    text-align: center;
  }

  a {
    margin-right: 25px;
  }
}

.footerbutton {
  padding: 0 !important;
  font-size: 12px;
}

@media only screen and (max-width: 550px) {
  #push {
    font-size: 12px;
    padding: 5px !important;

  }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 350px) {
    h1 {
      font-size: 17px;
    }
    #push {
      padding: 0 !important;
    }
  }
}


