<div class="container">
  <div class="bar">
    <h1>Dashboard</h1>
    <h5 id="push" (click)="addParticipation()">Aanmelden bij project</h5>
  </div>

  <span *ngIf="participations.length > 0">
       <div class="cardholder">
       <span *ngFor="let item of participations" class="mobilecard">
        <app-project-card [participation]="item"></app-project-card>
       </span>
        </div>
</span>

  <div *ngIf="participations.length === 0&& loaded===true">
    <div class="container">
      <div>
        <div class="row"><p id="flavortext">Nog niet aangemeld bij een project</p></div>
        <div class="row"><a mat-button id="big-button" (click)="addParticipation()">Aanmelden</a></div>
      </div>
    </div>
  </div>

</div>
