<div class="row bar">
  <h1>Profiel</h1>
  <div id="push">
    <a *ngIf="user!=null" (click)="edit()" mat-button class="override-button action-button">Profiel wijzigen</a>
  </div>
</div>


<div *ngIf="loaded===true">
  <div class="row">
    <div class="row-name">Naam:</div>
    <div class="user-data">{{user.firstName + " " + user.lastName}}</div>
  </div>
  <div class="row">
    <div class="row-name">Leeftijd:</div>
    <div class="user-data">{{age}}</div>
  </div>
  <div class="row">
    <div class="row-name">Email:</div>
    <div class="user-data">{{user.email}}</div>
  </div>
  <div class="row">
    <div class="row-name">Adres:</div>
    <div class="user-data">{{user.streetAddress}}</div>
  </div>
  <div class="row">
    <div class="row-name">Postcode:</div>
    <div class="user-data">{{user.postalCode}}</div>
  </div>
  <div class="row">
    <div class="row-name">Stad:</div>
    <div class="user-data">{{user.city}}</div>
  </div>
  <div class="row">
    <div class="row-name">Telefoonnummer:</div>
    <div class="user-data">{{user.phoneNumber}}</div>
  </div>
  <div class="row">
    <div class="row-name">Nationaliteit:</div>
    <div class="user-data">{{user.nationality}}</div>
  </div>
  <div class="row">
    <div class="col-6">

      <div class="row-name">Persoonlijke opmerking:<button mat-button class="override-button" id="personalbutton"
                                                           (click)="editRemark('personalbutton')">Aanpassen</button></div>
      <textarea id="personalremark" matInput disabled class="text-box">{{user.personalRemark}}</textarea>

    </div>

    <div class="col-6" *ngIf="isStaff">

      <div class="row-name">(Verborgen) opmerking:
        <button mat-button class="override-button" id="staffbutton" (click)="editRemark('staffbutton')">Aanpassen</button></div>
      <textarea id="staffremark" disabled class="text-box" matInput>{{user.staffRemark}}</textarea>

    </div>
  </div>
</div>


