#push {
  margin-left: auto;
}

.mat-button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#editProfile {
  background-color: #DDFCE0
}
.row{
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}
