#push {
  margin-left: auto;
  border: none;
}

.mat-button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.row {
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}

.col-6 {
  padding: 0;
}

img {
  margin-top: 30px;
  max-width: 250px;

  align-self: center;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.mat-card {
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 325px;
  min-width: 325px;
}

.text-box {
  border: 1px gray solid;
  min-height: 20vh;
  width: 80%;
  font-size: 15px;

}

.right {
  display: flex;
}

.card {
  margin-right: 20px;
}

#pictureFrame {
  display: flex;
  width: 100%;
  justify-content: center;
}

#expanded-card {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  img {
    max-width: 182px;
  }
  .mat-card {
    max-width: 250px;
    min-width: 250px;
  }
  .user-data {
    font-size: 16px !important;
  }
}


@media only screen and (max-width: 992px) {
  img {
    max-width: 125px;
  }
  .user-data {
    font-size: 13px !important;
  }
  .row-name {
    font-size: 17px !important;
  }
  .mat-card {
    min-width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .right {
    padding-left: 15px;
  }
  img {
    max-width: 182px;
  }
  .mat-card {
    min-width: 275px;
  }
  .user-data {
    font-size: 18px !important;
  }
  .row-name {
    font-size: 22px !important;
    padding-top: 0;
  }
  #card {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 560px) {
  #pictureFrame {
    margin-left: 0 !important;
  }
  .text-box {
    font-size: 12px;
  }
  .override-button {
    padding: 2px !important;
    font-size: 12px !important;
  }

  .mat-card {

    width: 375px;

    .mat-card-title {
      font-size: 16px;
    }

    .mat-card-content {
      font-size: 14px;
    }

    .mat-card-actions .mat-button {
      font-size: 16px;
    }
  }
  #pictureFrame {
    margin-left: 25%;
  }

  .user-data {
    font-size: 12px !important;
  }

  .row-name {
    font-size: 14px !important;
  }
  .right {
    display: block;
  }
}

@media only screen and (max-width: 410px) {
  .override-button {
    font-size: 9px !important;
  }
}
