.cardholder {
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  h1 {
    font: normal normal normal 20px/30px Segoe UI
  }
}

@media only screen and (max-width: 450px) {
  .mat-card {
    min-width: 275px;
  }
}
