<span *ngIf="loaded">
      <div class="row bar">
            <h1>{{title}}</h1>
           <button mat-button id="push" class="action-button" (click)="save()">Opslaan</button>
      </div>
      <div class="row SA">
        <div class="col-md-2 shift">
          <h2>{{scheduledata.shift.task.name}}</h2>
          <h6>{{(scheduledata.shift.date | datePipe)}}</h6>
          <h6>{{(scheduledata.shift.startTime +" - "+ scheduledata.shift.endTime)}}</h6>
          <p>{{("Aantal nodig: " + scheduledata.shift.participantsRequired)}}</p>
          <p>{{"Aantal ingeroosterd: " + (scheduledata.schedules | scheduledCount)}}</p>
        </div>
         <div class="col-md-10 availabilities">
            <mat-form-field>
               <mat-label>Filter</mat-label>
               <input matInput (keyup)="applyFilter($event)" placeholder="Bijv. Corné">
            </mat-form-field>
            <div>
               <table mat-table [dataSource]="dataSource" matSort matSortActive="#Ingeroosterd" matSortDirection="asc"
                      class="mat-elevation-z2">
                 <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                     </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? select(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)"
                                    [disabled]="scheduledata.schedules[scheduledata.schedules.indexOf(row)].scheduledThisDay===true"
                                    color="primary">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Naam">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Naam</th>
                     <td mat-cell *matCellDef="let row">{{row.person.firstName + " " + row.person.lastName}}
                       <mat-icon *ngIf="row.preference" class="star">star</mat-icon></td>
                  </ng-container>
                  <ng-container matColumnDef="Leeftijd">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>Leeftijd</th>
                     <td mat-cell *matCellDef="let row">{{row.person.dateOfBirth | agePipe}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Nationaliteit">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>Nationaliteit</th>
                     <td mat-cell
                         *matCellDef="let row">{{row.person.country != null ? row.person.country : "Onbekend"}}</td>
                  </ng-container>
                  <ng-container matColumnDef="#Ingeroosterd">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>#Ingeroosterd</th>
                     <td mat-cell *matCellDef="let row">{{row.numberOfTimesScheduledThisProject}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="(!row.scheduledThisDay ||(row.scheduledThisDay && row.scheduledThisShift) )&& select(row)"
                      [ngStyle]="(row.scheduledThisDay && !row.scheduledThisShift) && {'background-color': 'whitesmoke'}"></tr>
                  <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="5">Geen resultaten gevonden</td>
                  </tr>
               </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
         </div>
      </div>
</span>
