<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true" id="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button routerLink="/">
      <img src="../assets/Logo.png" alt="Hartige Samaritaan" class="logo"/>
    </a>
    <span class="sidenav-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button class="toolbarbutton" routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button class="toolbarbutton" routerLink="/profile" routerLinkActive="active">Profiel</a>
      <a mat-button class="toolbarbutton" *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Admin</a>
      <a mat-button class="toolbarbutton" *ngIf="isManager" routerLink="/manage" routerLinkActive="active">Beheer</a>
      <button mat-button class="toolbarbutton" *ngIf="!loggedIn" (click)="login()">Login</button>
      <button mat-button class="toolbarbutton" *ngIf="loggedIn" (click)="logout()">Logout</button>

    </div>
  </mat-toolbar>


  <div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" opened="false" fxShow="true" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button class="sidenav-button" routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-button class="sidenav-button" routerLink="/profile" routerLinkActive="active">Profiel</a>
          <a mat-button class="sidenav-button" *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Admin</a>
          <a mat-button class="sidenav-button" *ngIf="isManager" routerLink="/manage" routerLinkActive="active">Beheer</a>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="container">
          <div class="row">
            <app-breadcrumb></app-breadcrumb>
          </div>
          <router-outlet></router-outlet>
        </div>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>


</div>
<mat-toolbar color="primary" id="footer">
  <a mat-button class="toolbarbutton footerbutton" routerLink="/privacy" routerLinkActive="active">Privacy policy</a>
</mat-toolbar>

