.mat-toolbar {
  height: 75px;
  background-color: #E74B3B;
}

.sidenav-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 75px;
  bottom: 1px;
  left: 0;
  right: 0;
}

img {
  width: 50%;
  max-width: 300px;
  height: auto;
}

.toolbarbutton {
  text-align: right;
  font: normal normal normal 18px/28px Segoe UI;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.sidenav-button {
  text-align: right;
  letter-spacing: 0;
  color: black;
  opacity: 1;
}

.logo {
  display: flex;
  min-width: 150px;
}

#toolbar {
  min-width: 100px
}

#footer {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  height: 27px;
}

.footerbutton {
  padding: 0 !important;
  font-size: 12px;
}


