<div class="container">
  <div class="bar">
    <h1>Nieuw Project Aanmaken</h1>

  </div>
</div>
<div class="container">
  <form [formGroup]="checkoutForm" (ngSubmit)="saveProject(checkoutForm.value)">

    <div>
      <label class="row-name" for="name">
        Naam
      </label>
      <input id="name" type="text" formControlName="name" placeholder="Project naam" size="30">
    </div>

    <div>
      <label class="row-name" for="address">
        Adres
      </label>
      <input id="address" type="text" formControlName="address" placeholder="Address" size="30">
    </div>

    <div>
      <label class="row-name" for="city">
        Stad
      </label>
      <input id="city" type="text" formControlName="city" placeholder="Stad" size="30">
    </div>

    <div>
      <label class="row-name" for="description" size="30">
        Omschrijving
      </label>
      <input id="description" type="text" formControlName="description" placeholder="Omschrijving" size="30">
    </div>

    <div>
      <label class="row-name" for="startDate">
        Start datum
      </label>
      <input id="startDate" type="text" formControlName="startDate" placeholder="Startdatum van het project" size="30">
    </div>

    <div>
      <label class="row-name" for="endDate">
        Eind datum
      </label>
      <input id="endDate" type="text" formControlName="endDate" placeholder="Einddatum van het project" size="30">
    </div>

    <div>
      <label class="row-name" for="pictureUri">
        Afbeelding URL
      </label>
      <input id="pictureUri" type="text" formControlName="pictureUri" placeholder="Hyperlink van een plaatje" size="30">
    </div>

    <div>
      <label class="row-name" for="websiteUrl">
        Website URL
      </label>
      <input id="websiteUrl" type="text" formControlName="websiteUrl" placeholder="Hyperlink van de website" size="30">
    </div>
  </form>
  <div class="container">
    <a mat-button (click)="saveProject(checkoutForm.value)" style="background-color: #DDFCE0">Opslaan</a>
  </div>
</div>


