<mat-card>
  <div>
    <mat-card-title><a [routerLink]="['/project', participation.project.id]">{{participation.project.name}}</a></mat-card-title>
  </div>
  <mat-card-content>
    <a [routerLink]="['/availability', participation.project.id]"><p>Beschikbaarheid</p></a>
    <a [routerLink]="['/schedule', participation.id]"><p>Mijn Shifts</p></a>
    <a (click)="collaborate(participation)"><p>Samenwerking</p></a>


  </mat-card-content>
  <mat-card-actions class="action-anchor">
    <button mat-button (click)="removeParticipation(participation)">Uitschrijven</button>
  </mat-card-actions>
</mat-card>
