<div class="row bar">
  <h1>Plannen - Overzicht</h1>
</div>
<div class="row content-container">
  <div class="col-4">
    <div class="calendar">
      <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="dateChanged()" [minDate]="minDate"
                      [maxDate]="maxDate">
        </mat-calendar>
      </div>
      <div class="row tasks-container">
        <div class="tasktoggle" *ngFor="let item of availabilityData.projectTasks">
          <mat-checkbox class="checkBox" id="{{item.id}}" (change)="OnCheckboxChange($event)"
                        checked="true" color="primary" [matTooltip]=item.description>{{item.name}}</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="row datebox">
      <button mat-icon-button class="changeday cdhidden" (click)="decrement()" [disabled]="prevBtnDisabled">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <div class="date" id="date"> {{viewDate | datePipe}}</div>
      <button mat-icon-button class="changeday cdhidden" (click)="increment()" [disabled]="nextBtnDisabled">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <ng-template
      #customEventTemplate
      let-weekEvent="weekEvent"
    >
      <div
        class="cal-event"
        [ngStyle]="{
         backgroundColor: weekEvent.event.color?.secondary,
         borderColor: weekEvent.event.color?.primary
         }"
        [mwlCalendarTooltip]="shifts|planTooltip:weekEvent.event"
        [attr.aria-label]="
         { event: weekEvent.tempEvent || weekEvent.event, locale: 'en' }
         | calendarA11y: 'eventDescription'
         ">
        <div class="flex-container">
          <div class="row flex-container" id="title">
            <span class="cal-event-title">{{weekEvent.event.title}}</span>

          </div>
          <div class="row" id="spacer">
            <div class="row" id="necessary-{{weekEvent.event.id}}"></div>
            <div class="row" id="scheduled-{{weekEvent.event.id}}"></div>
            <div class="row" id="available-{{weekEvent.event.id}}"></div>

          </div>
          <div class="row" id="actions">
            <button mat-button aria-label="Plannen" class="custom-button scheduled" id="plan-{{weekEvent.event.id}}"
                    (click)="Plan(weekEvent.event.id)">
              Plannen
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="calendarbox">
      <mwl-calendar-day-view #schedule
                             [viewDate]="viewDate"
                             [dayStartHour]="startHour"
                             [dayEndHour]="endHour"
                             [events]="filteredEvents"
                             [refresh]="refresh"
                             [eventTemplate]="customEventTemplate"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
