<span *ngIf="loaded">
   <div class="container">
      <div class="row" id="bar">
         <div class="bar">
            <h1>{{title}}</h1>
         </div>
      </div>
      <div class="row>">
         <div class="col-md-12">
            <mat-form-field>
               <mat-label>Filter</mat-label>
               <input matInput (keyup)="applyFilter($event)" placeholder="Bijv. 'Chef' of '01-11-2020'" #input>
            </mat-form-field>
            <div >
               <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="asc" class="mat-elevation-z2">
                  <ng-container matColumnDef="Taak">
                     <th mat-header-cell  *matHeaderCellDef mat-sort-header>Taak</th>
                     <td mat-cell *matCellDef="let row">{{row.task!=null?row.task.name:"n.n.t.b"}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Datum">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>Datum</th>
                     <td mat-cell *matCellDef="let row">{{row.date.toLocaleDateString()}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Vanaf">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>Vanaf</th>
                     <td mat-cell *matCellDef="let row">{{row.startTime}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Tot">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>Tot</th>
                     <td mat-cell *matCellDef="let row">{{row.endTime}}</td>
                  </ng-container>
                  <ng-container matColumnDef="#Benodigde vrijwilligers">
                     <th mat-header-cell mat-sort-header *matHeaderCellDef>#Benodigde vrijwilligers</th>
                     <td mat-cell *matCellDef="let row">{{row.participantsRequired}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="details(row.id)"></tr>
                  <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="5">Geen resultaten gevonden</td>
                  </tr>
               </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
         </div>
      </div>
      <div class="row">
         <a mat-button [routerLink]="['/addshifts', guid]">Shiften toevoegen</a>
      </div>
   </div>
</span>
