#nextButton{
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  margin: 25px 5px 5px 25px;
}
.checkBox{
  margin:10px;
  display: flex;
}
.mat-dialog-title{
  text-align: left;
  font: normal normal bold 21px/31px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  border-bottom: 1px solid gray;
  max-width: 75%;
  margin: 20px auto 15px;
}


