<h2 mat-dialog-title>Certificaat {{modifier}}</h2>

<mat-dialog-content>
	<form [formGroup]="checkoutForm" (ngSubmit)="addCertificate(checkoutForm.value)">
		<input formControlName="id" id="id" type="hidden" />

		<div>
			<mat-form-field>
				<mat-label for="certificateType"> Certificaattype</mat-label>
				<mat-select [formControl]="certificateTypeControl" required>
					<mat-option *ngFor="let certificateType of allCertificateTypes" [value]="certificateType">
						{{certificateType.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<mat-label for="dateIssued"> Uitgifte datum </mat-label>
				<input matInput id="dateIssued" type="text" formControlName="dateIssued" placeholder="dd-mm-yyyy" />
			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<mat-label for="dateExpired"> Verloop datum </mat-label>
				<input matInput id="dateExpired" type="text" formControlName="dateExpired" placeholder="dd-mm-yyyy" />
			</mat-form-field>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions id="actions">
	<div class="align-right">
		<button class="action-button override-button" (click)="addCertificate(checkoutForm.value)" mat-button
			>Opslaan
		</button>
		<button mat-button class="override-button" (click)="close()">Annuleren</button>
	</div>
</mat-dialog-actions>
