.action-anchor{
  position: absolute;
  bottom: 15px;
}
.cardholder {
  display: flex;
  overflow-x:auto;
  align-items: flex-start;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.mat-button{
  text-align: left;
  font: normal normal 400 18px/27px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  padding: 10px;
}

.mat-card-title{
  border-bottom: 1px solid gray;
  text-align: left;
  font: normal normal bold 21px/31px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  margin-left:10px;
  padding-left: 10px;
}
.mat-card{
  border-radius: 20px;
  margin-right: 30px;
  background: #E8E8E8 0 0 no-repeat padding-box;
  box-shadow: 3px 3px 6px #0000001A;
  border: 1px solid #D1D1D1;
  opacity: 1;
  text-align: left;
  font: normal normal bold 21px/31px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  min-width: 325px;
  min-height:375px ;
  max-height:375px ;
}
.mat-card-content{
  font: normal normal 400 18px/27px Segoe UI;
  color: #434343;

  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.mat-card-content.h6{
  margin-top: 25px;
}

.mat-card-actions{
  border: none;
  color: red;
}
a:hover{
  color: #434343;
  text-decoration-line: none;
}
a{
  color:#434343;
}
h1{
  text-align: left;
  font: normal normal normal 35px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}

.mat-card{
margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width:1200px) {
  .cardholder{
    display:flex;
    justify-content: center;
  }
  .mat-card{
    margin:15px;
  }
}


@media only screen and (max-width:450px) {
  .cardholder{
    display:flex;
    flex-direction: column;
  }
  .card{
    margin-bottom: 30px;
  }
  .bar{
    display:block;
  }
}
