<div class="container">
  <div class="bar">
    <h1>Admin</h1>
  </div>
</div>

<div class="container">
  <div class="cardholder" *ngIf="loaded==true">

    <mat-card class="card">
      <div>
        <mat-card-title>Projecten</mat-card-title>
      </div>
      <mat-card-content>
    <span *ngFor="let item of projects">
      <a routerLink="/projects/{{item.id}}"><p>{{item.name}}</p></a>
    </span>

      </mat-card-content>
      <mat-card-actions class="action-anchor">
        <button mat-button (click)="addProject()">+ nieuw project toevoegen</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <div>
        <mat-card-title>Administrators</mat-card-title>
      </div>
      <mat-card-content>
    <span *ngFor="let item of administrators">
      {{item.name}}<br><br>
    </span>

      </mat-card-content>
      <mat-card-actions class="action-anchor">
        <button mat-button (click)="addAdministrator()">+ nieuwe toevoegen</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <div>
        <mat-card-title>Gegevens</mat-card-title>
      </div>
      <mat-card-content>
        <a routerLink="/employees"><p>Lijst medewerkers</p></a>
        <a routerLink="/statistieken"><p>Statistieken exporteren</p></a>
        <mat-card-actions class="action-anchor"></mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
