.mobilecard {
  a {
    display: flex;
  }

  .mat-icon {
    margin-top: 2px;
  }
}

.cardholder {
  width: 100%;

  .mat-mdc-card {
    min-height: 405px;
  }
}

@media only screen and (max-width: 450px) {
  .mat-mdc-card {
    min-width: 275px;
  }
}
