a:hover {
  cursor: pointer;
}
.mat-form-field {
  width: 100%;
}

.closebutton {
  margin-left: auto;
}

.names {
  min-height: 225px;
}

::ng-deep .mat-tab-body-wrapper {
  margin-top: 10px;
}

::ng-deep .mat-tab-body {
  min-height: 300px;

  .mat-tab-body-content {
    overflow: hidden;
  }
}
