.mat-button {
  font: normal normal normal 17px/17px Segoe UI;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid gray;
}

.closebutton {
  margin-left: auto;
}

.mat-form-field {
  width: 100%;
}

#searchbar {
  max-height: 25px;
}
.names {
  min-height: 225px;
}

::ng-deep .mat-tab-body-wrapper {
  margin-top: 10px;
}

::ng-deep .mat-tab-body {
  min-height: 300px;

  .mat-tab-body-content {
    overflow: hidden;
  }


}
