#bar {
  display: flex;
  align-items: center;
  padding: 15px 10px 10px;
  border-bottom: 1px solid gray;

}

h1 {
  text-align: left;
  font: normal normal normal 35px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}

h2 {
  text-align: left;
  font: normal normal normal 25px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}

.row {
  display: flex;
  align-items: center;
}

.row-name {
  text-align: left;
  min-width: 250px;
  font: normal normal normal 20px Segoe UI;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;

}

.user-data {
  border: none;
}

.data-row {
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}

::ng-deep ngx-material-timepicker-content {
  --dial-background-color: #e03e2d !important;
  --button-color: gray;
  --clock-hand-color: #e03e2d !important;
}

::ng-deep ngx-material-timepicker-container .timepicker__actions {
  flex-direction: row-reverse !important;
  padding-left: 70px !important;
}

::ng-deep .mat-calendar-body-cell.selected {
  background-color: #e03e2d !important;
  border-radius: 50%;

  :hover {
    background-color: gray;
  }

  .mat-calendar-body-cell-content.mat-focus-indicator {
    color: white;
  }
}

.mat-button {
  font: normal normal normal 17px/17px Segoe UI;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid gray;
}

.action-button {
  background-color: #DDFCE0;
}

.right {
  display: flex;
  margin-bottom: auto;
  margin-top: 5px;
  flex-direction: column;
}

.left {
  display: flex;
  margin-bottom: auto;
  margin-top: 5px;
  flex-direction: column;
}

.date-button {
  margin: 5px;
}
.save{
  background-color: #DDFCE0

}

#open-label {
  color: gray;
}
