a:hover {
  color: #434343;
  text-decoration-line: none;
  cursor: pointer;
}

a {
  color: #434343;
}

h1 {
  text-align: left;
  font: normal normal normal 35px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}
.bar {
  display: flex;
  align-items: center;
  padding: 15px 10px 10px;
  border-bottom: 1px solid gray;

}
.row-name {
  text-align: left;
  min-width: 250px;
  font: normal normal normal 20px Segoe UI;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;

}

.user-data {
  text-align: left;
  font: normal normal normal 20px/45px Segoe UI;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.data-row {
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}

.mat-button {
  font: normal normal normal 17px/17px Segoe UI;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left:20px;
  margin-top:50px;

  border: 1px solid gray;
  border-radius: 5px;
  opacity: 1;
  background-color: #DDFCE0
}
#deleteTask{
  background-color: white;
}
@media only screen and (max-width: 550px) {

  .row-name {
    font: normal normal normal 15px Segoe UI;
    min-width: 175px;
  }
  .user-data {
    font: normal normal normal 15px/45px Segoe UI;
  }
  .data-row {
    align-items: center;
  }
}
