<div class="spinner" *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>
<span *ngIf="loaded">
   <div class="row bar">
      <div>
         <h1>{{title}}</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6" id="left">
         <div class="row">
            <div class="row-name">Adres:</div>
            <div class="user-data">{{viewProject.address}}</div>
         </div>
         <div class="row">
            <div class="row-name">Stad:</div>
            <div class="user-data">{{viewProject.city}}</div>
         </div>
         <div class="row">
            <div class="row-name">Omschrijving:</div>
            <div class="user-data">{{viewProject.description}}</div>
         </div>
         <span *ngIf="isAdmin">
            <div class="row">
               <div class="row-name">Project Startdatum:</div>
               <div class="user-data">{{viewProject.projectStartDate}}</div>
            </div>
            <div class="row">
               <div class="row-name">Project Einddatum:</div>
               <div class="user-data">{{viewProject.projectEndDate}}</div>
            </div>
         </span>
         <div class="row">
            <div class="row-name">Deelname Startdatum:</div>
            <div class="user-data">{{viewProject.participationStartDate}}</div>
         </div>
         <div class="row">
            <div class="row-name">Deelname Einddatum:</div>
            <div class="user-data">{{viewProject.participationEndDate}}</div>
         </div>
        <div class="row" *ngIf="viewProject.contactAdres">
            <div class="row-name">Contact E-mailadres:</div>
            <div class="user-data">{{viewProject.contactAdres}}</div>
         </div>
         <div class="row" *ngIf="viewProject.websiteUrl">
            <div class="row-name">Website:</div>
            <div class="user-data"><a href="{{viewProject.websiteUrl}}">Link</a></div>
         </div>
         <div *ngIf="this.participation!=null" class="row">
            <div class="row-name">Max uur per week:</div>
            <div class="user-data">{{participation.maxWorkingHoursPerWeek}}</div>
         </div>
         <div class="row" *ngIf="this.participation && this.participation.active">
            <a (click)="editWorkingHours()" mat-button class="edit override-button">Max werkuren wijzigen</a>
            <a (click)="collaborate(participation)" mat-button class="edit override-button">Voorkeur samenwerking</a>
         </div>
         <div class="admin" *ngIf="isAdmin">
           <div class="row" id="admin-control-title"><h6>Administrator opties</h6></div>
           <div class="row" id="admin-control-actions">
             <a (click)="editProject()" mat-button class="edit override-button">Project wijzigen</a>
            <a (click)="closeProject()" mat-button class="override-button">{{closeButtonText}}</a>
            <a (click)="modManager()" mat-button class="override-button">Beheerders</a>
           <a (click)="exportShifts()" mat-button class="override-button">Shiften exporteren</a>
           <a (click)="exportUsers()" mat-button class="override-button">Medewerkers exporteren</a>
           </div>
         </div>


      </div>
      <div class="col-md-6">
         <mat-card [ngClass]="[taskCardStyle]" id="taskCard">
            <div>
               <mat-card-title>
                  Projecttaken
                  <button [disabled]="projectTasksExpandbtnDisabled" class="card-title-icon" mat-icon-button
                          (click)="expandTaskCard()">
                  <mat-icon id="icon">zoom_out_map</mat-icon>
                  </button>
               </mat-card-title>
            </div>
            <mat-card-content>
               <span *ngFor="let item of projectTasks">
                  <a [routerLink]="['/task', item.id]">
                     <p>{{item.name}}</p>
                  </a>
               </span>
               <span *ngIf="!projectTasks || projectTasks.length==0">N.N.T.B.</span>
               <mat-card-actions class="action-anchor"></mat-card-actions>
            </mat-card-content>
            <mat-card-actions class="action-anchor" *ngIf="isAdmin || isManager">
               <button mat-button (click)="modTask('add')">Nieuwe toevoegen</button>
               <button mat-button (click)="modTask('remove')">Verwijderen</button>
            </mat-card-actions>
         </mat-card>
         <img *ngIf="project.pictureUri && project.pictureUri.documentUri" id="pictureFrame"
              src="{{project.pictureUri.documentUri}}"
              alt="Project picture"/>
      </div>
   </div>
</span>
