.admin{
  border: 1px solid #707070;
  background: whitesmoke;
  align-items: center;
}
img {
  max-width: 400px;
  height: auto;
}

.edit {
  background-color: #DDFCE0
}

.override-button {
  border-radius: 5px;
  margin: 5px;
}

.mat-card {
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 325px;
}

#left {
  min-height: 400px;
  min-width: 450px;
  margin-bottom: auto;
}

.row {
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}

@media only screen and (max-width: 550px) {
  img {
    max-width: 400px;
  }
  .mat-card {
    display: none;
  }
}
