<div *ngIf="loaded">
  <div class="container">
    <div class="bar">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="container">

    <div class="data-row">
      <div class="row-name">Adres:</div>
      <div class="user-data">{{viewProject.address}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Stad:</div>
      <div class="user-data">{{viewProject.city}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Omschrijving:</div>
      <div class="user-data">{{viewProject.description}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Start datum:</div>
      <div class="user-data">{{viewProject.startDate}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Eind datum:</div>
      <div class="user-data">{{viewProject.endDate}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Afbeelding URL:</div>
      <div class="user-data">{{viewProject.pictureUri}}</div>
    </div>
    <div class="data-row">
      <div class="row-name">Website:</div>
      <div class="user-data">{{viewProject.websiteUrl}}</div>
    </div>
    <div *ngIf="this.participation!=null" class="data-row">
      <div class="row-name">Max uur per week:</div>
      <div class="user-data">{{participation.maxWorkingHoursPerWeek}}</div>
    </div>
  </div>
  <div class="container" *ngIf="this.participation!=null">
    <a (click)="editWorkingHours()" mat-button class="edit">Max werkuren wijzigen</a>
  </div>
  <div class="container" *ngIf="isAdmin">
    <a (click)="editProject()" mat-button class="edit">Project wijzigen</a>
    <a (click)="closeProject()" mat-button class="edit">{{closeButtonText}}</a>
  </div>
</div>
