.admin{
  border: 1px solid #707070;
  background: whitesmoke;
  align-items: center;
  .row{
   margin: 0;
  }
}
img {
  max-width: 400px;
  height: auto;
}

.edit {
  background-color: #DDFCE0
}

.override-button {
  border-radius: 5px;
  margin: 5px;
}

.mat-card {
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 325px;
}

#left {
  min-height: 400px;
  min-width: 450px;
  margin-bottom: auto;
}

.row {
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
}
#admin-control-title{
 justify-content: center;
}
#admin-control-actions{
  justify-content: center;
}

@media only screen and (max-width: 550px) {
  img {
    max-width: 400px;
  }
  .mat-card {
    min-width: initial;
    width: 250px;

    .mat-card-title {
      font-size: 16px;
    }

    .mat-card-content {
      font-size: 14px;
    }

    .mat-card-actions .mat-button {
      font-size: 14px;
    }
  }
}
