@font-face {
  font-weight: 300;
  font-family: FS Me Web;
  font-style: normal;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-Light.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-Light.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: FS Me Web;
  font-style: italic;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-LightItalic.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-LightItalic.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: FS Me Web;
  font-style: normal;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-Regular.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-Regular.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: FS Me Web;
  font-style: italic;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-Italic.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-Italic.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: FS Me Web;
  font-style: normal;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-Bold.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-Bold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: FS Me Web;
  font-style: italic;
  font-display: swap;
  src:
    url("assets/fonts/fsme/FSMeW01-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/fsme/FSMeW01-BoldItalic.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: Tearfund Sans;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/tf-sans/TearfundSans-Regular.ttf") format("truetype");
}
