/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.custom-dialog-container .mat-dialog-container {
  border-radius: 10px;
  min-width: 30vw;
  min-height: 40vh;
}

a:hover {
  color: #434343;
  text-decoration-line: none;
}

a {
  color: #434343;
}

input[type="file"] {
  display: none;
}

h1 {
  text-align: left;
  font: normal normal normal 35px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}

h2 {
  text-align: left;
  font: normal normal normal 25px/50px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
}

.action-anchor {
  position: absolute !important;
  bottom: 15px;
}

.action-button {
  background-color: #DDFCE0;
}

.active {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.align-right {
  margin-left: auto;
}

.bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.cardholder {
  display: flex;
  overflow-x: auto;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card-title-icon {
  display: flex;
  margin-left: auto !important;
  justify-content: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.expanded-card {
  min-width: 100% !important;
  max-height: none !important;
}

.mat-button {
  text-align: left;
  font: normal normal 400 18px/27px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  padding: 10px !important;
}

.override-button {
  font: normal normal normal 17px/17px Segoe UI !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid gray !important;
}

.mat-card {
  margin-right: 30px;
  border-radius: 20px !important;
  background: #E8E8E8 0 0 no-repeat padding-box;
  box-shadow: 3px 3px 6px #0000001A !important;
  border: 1px solid #D1D1D1;
  opacity: 1;
  text-align: left;
  font: normal normal bold 21px/31px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  min-width: 325px;
  min-height: 375px;
  max-height: 375px;
}

.mat-card-actions {
  border: none;
}

.mat-card-content {
  font: normal normal 400 18px/27px Segoe UI;
  color: #434343;
  min-height: 240px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.mat-card-content.h6 {
  margin-top: 25px;
}


.mat-card-title {
  border-bottom: 1px solid gray;
  text-align: left;
  font: normal normal bold 21px/31px Segoe UI;
  letter-spacing: 0;
  color: #434343;
  opacity: 1;
  margin-left: 10px;
  padding-left: 10px;
  display: flex !important;
}

.mobilecard {
  margin-bottom: 30px !important;
}
.multiline-tooltip{
   white-space: pre-line;
  background: #E74B3B;
  font-size: 20px;
  min-width: 300px;
 }


#push {
  font: normal normal normal 17px/17px Segoe UI;
  margin-left: auto;
  border: gray 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-name {
  text-align: left;
  min-width: 250px;
  font: normal normal normal 20px Segoe UI !important;
  letter-spacing: 0;
  color: #707070 !important;
  opacity: 1;

}

.user-data {
  text-align: left;
  font: normal normal normal 20px/35px Segoe UI !important;
  letter-spacing: 0;
  color: #000000 !important;
  opacity: 1;
}


@media only screen and (max-width: 1200px) {
  .cardholder {
    display: flex;
    justify-content: center !important;
  }
  .mat-card {
    margin: 15px;
  }
}

@media only screen and (max-width: 550px) {

  .row-name {
    font: normal normal normal 15px Segoe UI !important;
    min-width: 125px;
  }
  .user-data {
    font: normal normal normal 14px/30px Segoe UI !important;
  }
  .data-row {
    align-items: center;
  }
  h1 {
    font: normal normal normal 30px/50px Segoe UI;;
  }

}

@media only screen and (max-width: 450px) {
  .cardholder {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 30px;
  }
  .bar {
    display: flex;
  }

}

@media only screen and (max-width: 350px) {
  h1 {
    font: normal normal normal 20px/30px Segoe UI;
    margin: 0;
  }

}

#searchbar {
  max-height: 25px;
}

